cache/
trust_path/cache/*
!trust_path/cache/index.html
trust_path/database/*
!trust_path/database/index.html
trust_path/log/*
!trust_path/log/index.html
uploads/image/*
!uploads/image/index.html
uploads/media/*
!uploads/media/index.html
