<html>
    <head>
      <script src="http://localhost/tuskfish2/vendor/htmx/htmx.min.js"></script>
    </head>
    <body>
      <table>
        <thead>
            <tr>
                <td>ID</td><td>Name</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td><td><a hx-post="response.php" target="closest td" hx-vals='{"name": "Bob"}' hx-swap="outerHTML">Bob</a></td>
            </tr>
            <tr>
                <td>2</td><td><a hx-post="response.php" target="closest td" hx-vals='{"name": "Alice"}' hx-swap="outerHTML">Alice</a></td>
            </tr>
        </tbody>
      </table>
    </body>
</html>
